body{
    background-image: url(./img/jord.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

    display: grid;
    grid-template-columns: 19vw 30vw 30vw 19vw;
    grid-template-rows: 20vh 7vh 40vh 40vh 40vh;

    font-family: "Kaushan Script", Verdana;
}

header{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #D6BEEE;
    color: black;
    font-size: 2em;
    
    display: flex;
    flex-direction: row;
    height: 25vh;
    margin-top: 0px;
    margin-bottom: 5vh;
    gap: 4vw;
}

nav{
    grid-column: 1/2;
    grid-row: 3/6;
    border-top: 3vh solid white;
    display: flex;
    flex-direction: column;
    background-color: #EFDDF2;
    gap: 2vh;
    align-items: center;
    margin-right: 3vw;
    margin-left: 2vw;
}

nav > a{
    text-decoration: none;
    color: black;
    background-color: white;
    width: 10vw;
    text-align: center;
    font-size: 1.5em;
    margin-top: 1vh;
}

aside{
    grid-column: 4/5;
    grid-row: 3/6;
    background-color: white;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-right: 3vw;
}

.kundvagn > article > img{
    width: 15vw;
    height: auto;
}

.kundvagn > article{
    display: flex;
    flex-direction: column;
    font-size: .7em;
    align-items: center;
    width: 16vw;
    height: auto;
}

.kundvagn{
    background-color: white;
    border-radius: 5px;
}

img{
    height: 100%;
    width: auto;
}

main > article > img{
    width: 25vw;
    max-height: 35vh;
}

main > article{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    grid-column: 2/3;
    grid-row: 3/6;
    display: grid;
    grid-template-columns: 25vw 25vw;
    gap: 5vw;
}
