body{
    background-image: url(./img/jord.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

    display: grid;
    grid-template-columns: 19vw 30vw 30vw 19vw;
    grid-template-rows: 20vh 40vh 40vh 40vh;

    font-family: "Kaushan Script", Verdana;
}

header{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #D6BEEE;
    color: black;
    font-size: 2em;
    
    display: flex;
    flex-direction: row;
    height: 25vh;
    margin-top: 0px;
}

nav{
    grid-column: 1/2;
    grid-row: 2/5;
    border-top: 3vh solid white;
    display: flex;
    flex-direction: column;
    background-color: #EFDDF2;
}

nav > a{
    text-decoration: none;
    color: black;
    background-color: white;
}

main{
    grid-column: 2/3;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 25vw 25vw;
}

.kundvagn{
    grid-column: 4/5;
    grid-row: 2/5;
    background-color: white;
}

img{
    height: 100%;
    width: auto;
    max-height: 30vh;
}

article > img{
    max-width: 20vw;
}