body{
    background-image: url(./img/jord.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

    display: grid;
    grid-template-columns: 19vw 30vw 30vw 19vw;
    grid-template-rows: 20vh 7vh 40vh 40vh 40vh;

    font-family: "Kaushan Script", Verdana;
}

header{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #D6BEEE;
    color: black;
    font-size: 2em;
    
    display: flex;
    flex-direction: row;
    height: 25vh;
    margin-top: 0px;
    margin-bottom: 5vh;
    gap: 4vw;
}

nav{
    grid-column: 1/2;
    grid-row: 3/6;
    border-top: 3vh solid white;
    display: flex;
    flex-direction: column;
    background-color: #EFDDF2;
    gap: 2vh;
    align-items: center;
    margin-right: 3vw;
    margin-left: 2vw;
}

nav > a{
    text-decoration: none;
    color: black;
    background-color: white;
    width: 10vw;
    text-align: center;
    font-size: 1.5em;
    margin-top: 1vh;
}

aside{
    grid-column: 4/5;
    grid-row: 3/6;
    background-color: white;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-right: 3vw;
}

.kundvagn > article > img{
    width: 15vw;
    height: auto;
}

.kundvagn > article{
    display: flex;
    flex-direction: column;
    font-size: .7em;
    align-items: center;
    width: 16vw;
    height: auto;
}

.kundvagn{
    background-color: white;
    border-radius: 5px;
}

img{
    height: 100%;
    width: auto;
}

main > article > img{
    width: 25vw;
    max-height: 35vh;
}

main > article{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    grid-column: 2/3;
    grid-row: 3/6;
    display: grid;
    grid-template-columns: 25vw 25vw;
    gap: 5vw;
}

/* .kundvagn_dropdown{
    
} */

@media screen and (min-width: 641px) and (max-width: 1007px){
    body{
        grid-template-columns: 50vw 50vw;
    }
    
    header{
        height: 17vh;
        width: 95vw;
        text-align: center;
        font-size: 1.7em;
        margin-bottom: 0px;
    }

    nav{
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        border: none;
        justify-content: center;
        margin-right: 4vw;
        margin-left: 0px;
        margin-top: 0px;
    }

    nav > a{
        max-height: 5vh;
        width: auto;
        font-size: 2em;
    }

    main{
        display: flex;
        flex-direction: column;
        grid-column: 1/2;
    }

    main > article{
        margin-top: 5vh;
        font-size: 2em;
        margin-left: 5vw;
    }

    main > article > img{
        width: 45vw;
    }

    aside{
        grid-column: 2/3;
        margin-top: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
        font-size: 2em;
    }

    .kundvagn > article{
        width: 30vw;
    }

    .kundvagn > article > img{
        width: 28vw;
    }
    
}

@media screen and (max-width: 640px){
    body{
        display: grid;
        grid-template-columns: 95vw;
        grid-template-rows: 17vh 5vh 13vh 70vh;
    }

    header{
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: 98vw;
        height: 17vh;
        font-size: .9em;
        text-align: center;
        margin-bottom: 0px;
    }

    header > img{
        max-height: 15vh;
        align-self: center;
        margin-left: 1vw;
    }

    nav{
        grid-column: 1/2;
        grid-row: 2/3;
        border-top: 2px solid white;
        background-color: #D6BEEE;
        height: 5vh;
        width: 95vw;
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1vh solid #D6BEEE;
    }

    nav > a{
        height: 4vh;
        width: auto;
        font-size: .9em;
    }

    main{
        grid-column: 1/2;
        grid-row: 4/5;
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        width: 70vw;
        justify-self: center;
    }

    main > article > img{
        width: 70vw;
    }

    aside{
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: 3vh;
        margin-left: 30vw;
        margin-right: 30vw;
        font-size: .6em;
    }

    .kundvagn > article{
        width: 35vw;
        font-size: 1em;
    }

    .kundvagn > article > img{
        width: 33vw;
    }

}